@font-face{
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?dmyqnb');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?dmyqnb#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/fonts/icomoon.ttf?dmyqnb') format('truetype'),
  url('../fonts/icomoon/fonts/icomoon.woff?dmyqnb') format('woff'),
  url('../fonts/icomoon/fonts/icomoon.svg?dmyqnb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face{
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face{
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}